body {
    background: #aff;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(1fr));
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
 
img {
    width: 100%;
    height: 100px;
}

.grid-items {
    border: 1px solid #000;
    text-align: center;
    object-fit: cover;
}

.grid-items:nth-child(1) {
    background: #455;
    object-fit: cover;
}
.grid-items:nth-child(2) {
    background: #350;
}
.grid-items:nth-child(3) {
    background: #699;
}
.grid-items:nth-child(4) {
    background: #402;
}
.grid-items:nth-child(5) {
    background: #350;
}
.grid-items:nth-child(6) {
    background: #699;
}
.grid-items:nth-child(7) {
    background: #402;
}
.grid-items:nth-child(8) {
    background: #350;
}
.grid-items:nth-child(9) {
    background: #699;
}
.grid-items:nth-child(10) {
    background: #402;
}
.grid-items:nth-child(11) {
    background: #350;
}
.grid-items:nth-child(12) {
    background: #699;
}
.grid-items:nth-child(13) {
    background: #540;
}
.grid-items:nth-child(14) {
    background: #321;
}
.grid-items:nth-child(15) {
    background: #369;
}
.grid-items:nth-child(16) {
    background: #654;
}
.grid-items:nth-child(17) {
    background: #987;
}
.grid-items:nth-child(18) {
    background: #906;
}
.grid-items:nth-child(19) {
    background: #213;
}
.grid-items:nth-child(20) {
    background: #786;
}

.grid-items:hover {
    background: #eee;
    transition: 1s;
}